{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thêm chapter mới</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"
            integrity="sha384-3LK/3kTpDE/Pkp8gTNp2gR/2gOiwQ6QaO7Td0zV76UFJVhqLl4Vl3KL1We6q6wR9"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/css/bootstrap-select.min.css" integrity="sha512-mR/b5Y7FRsKqrYZou7uysnOdCIJib/7r5QeJMFvLNHNhtye3xJp1TdJVPLtetkukFn227nKpXD9OjUc09lx97Q==" crossorigin="anonymous"
  referrerpolicy="no-referrer" />
    <!-- Include Twitter Bootstrap and jQuery: -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css"/>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>

    <!-- Include the plugin's CSS and JS: -->
    <script type="text/javascript" src="js/bootstrap-multiselect.js"></script>
    <link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/add_chapter.css' %}">
</head>
<body>
<div class="wrapper">
    <!-- HEADER -->
    {% include 'header.html' %}
    <!-- END OF HEADER -->

    <!-- MAIN CONTAINER -->
    <div class="container">
        <h1>Thêm chapter cho truyện {{ manga.name }}</h1>
        <hr>
        <form method="post" class="form-horizontal" role="form" onsubmit="setImg()" action=" {% url "usermanga:create" %}">
            {% csrf_token %}
        <input type="file" id="file-input" accept="image/png, image/jpeg" onchange="postImg()" multiple required>
        <label for="file-input">
            <i class="fas fa-upload"></i> &nbsp; Chọn ảnh đại diện
        </label>
        <p id="num-of-files">Chưa chọn file nào </p>
        <div id="images"></div>
            <input type="hidden" id="mangaId" name="mangaId" value= {{ manga.id }}>
            <input type="hidden" id="urls" name="urls" value= "">
            <div class="form-group">
                <div class="col-lg-8">
                    <input class="hidden" type="text" id="name" name="name" required value="" placeholder="Tên chapter" >
                </div>
                <hr>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <input type="submit" class="btn btn-primary" value="Thêm chapter" onsubmit="setImg()">
                    <span></span>
                    <a href= "{% url "usermanga:edit" manga.id %}" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>

     {% include 'footer.html' %}
</div>
</body>
<script src="{% static 'js/add_chapter.js' %}"></script>
    <script type="module">
        import {uploadThumbnail, getImgUrl} from "/static/js/add_manga.js"

        function readURL(input) {
            if (input) {
                var reader = new FileReader();
                reader.readAsDataURL(input);
                return uploadThumbnail(input);
            }
        }

        function getImg() {
            return getImgUrl();
        }


        window.getImg = getImg;
        window.readURL = readURL;
    </script>
    <script>
        function postImg() {
            preview()
            let fileInput = document.getElementById("file-input");
            for(i of fileInput.files){
                window.readURL(i);
            }
        }
    </script>
</html>